@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}